{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase2.css' %}">
    <div class="outer">
        <div class="inner1">
            <h1 class="neon" id="title">Welcome to the Fake Uber Website</h1>
        </div>
        <div class="inner2">
            <a class="button" href="{% url 'signup' %}">Sign-Up</a>
            <a class="button" href="{% url 'login' %}">Login</a>
        </div>
    </div>
{% endblock %}